.hamburger-menu {
  width: 27px;
  height: 30px;

  /* position: fixed; */
  top: 50px;
  right: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.5s;
  border-radius: 1.5px;
}

.change.line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change.line-2 {
  opacity: 0;
}

.change.line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}
